.navbar-brand {
    font-weight: bold;
    background-color: #ffffffaf;
    padding: 10px;
    border-radius: 15px;
}

.content {
    /* background-color: #9c9c9c91;
    border-radius: 15px; */
    margin-top: 5rem;
    padding: 15px;
    width: 60%;
    text-align: left;
    margin-left: 8rem;
    h3 {
        font-size: 40px;
        font-weight: bold;
        /* margin-left: 1rem; */
        /* padding-right: 4rem; */
    }
    p {
        margin-top: 2rem;
        color: white;
        font-weight: 10px;
        text-align: justify;
    }
    button {
        border-radius: 30px;
        /* border-top: 10px none #ff6550; */
        box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.75);    }
}

#navbarSupportedContent {
    font-weight: bold;
}


#login, #register {
    font-weight: bold;
    border-radius: 15px;
    margin-left: 15px;
}

#blog {
    a {
        margin-right: 2rem;
        text-decoration: none;
        color: white;
    }
}

body {
    background: url(bg.jpg);
    background-size: cover;
}